# Python & venv
__pycache__/
*.py[cod]
.venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Docker
*.pid
*.log
*.db
*.sock

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Airflow
logs/
airflow.db

# Superset
superset_home/

# Flink
flink-dist/
*.jar
checkpoints/
savepoints/
tmp/

# MinIO
minio-data/
secrets/
