pyspark==3.4.1           # Apache Spark cho streaming và batch
confluent-kafka==2.2.0   # Kafka client (nếu cần tương tác Kafka trực tiếp)
pyyaml==6.0              # Để đọc file config yaml
pydantic==1.10.9         # Data validation, model (nếu cần)
pytest==7.3.1            # Framework test
pytest-mock==3.10.0      # Mock trong test