apache-flink==1.18.0        # Python API cho Apache Flink (PyFlink)
boto3==1.26.99              # AWS SDK Python để tương tác MinIO (S3 compatible)
pyyaml==6.0                 # Đọc file config yaml
pydantic==1.10.9            # Data model + validation
pytest==7.3.1               # Test framework
pytest-mock==3.10.0         # Mock trong test
faker
sqlalchemy
psycopg2
pymongo